---
id: "root"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Middle Front / Chats</title>
    <script src="src/app.js" type="module"></script>
</head>
<body>
<div id="{{ id }}"></div>
</body>
</html>