---
id: "root"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Middle Front / Chats</title>
    <link rel="stylesheet" href="style.scss" />
    <link rel="icon" href="./src/assets/favicon/favicon.ico" type="image/x-icon">
</head>
<body class="body">
    <div id="{{ id }}"></div>
    <script src="app.js" type="module"></script>
</body>
</html>
