.button {
  $self: &;

  width: 100%;
  color: #fff;
  background: #3369f3;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &--ghost {
    background: transparent;
    border: none;
    color: #3369f3;
  }

  &--bordered {
    background: transparent;
    border: 1px solid #3369f3;
    color: #3369f3;
  }

  &:hover {
    opacity: 0.8;
  }

  &__spinner {
    width: 30px;
    height: 30px;
  }

  &__spinner svg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
}
