.profile {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
  width: 100vw;
  height: 100vh;

  &__back-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--gray-main-color);
  }

  &__container-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    max-width: 500px;
    width: 100%;
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--gray-hover-color);
  }

  &__field-name {
    font-weight: 600;
  }

  &__bottom {
    margin-top: 60px;
  }

  &__link {
    display: block;
    color: var(--primary-color);
    font-weight: 600;
    padding: 10px 0;

    &:hover {
      text-decoration: underline;
    }

    &--danger {
      color: var(--error-color);
    }
  }
}
