.home {
  background: #0E0E0E;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__box {
    border-radius: 5px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    transition: .4s ease;
    &:hover {
      opacity: .7;
    }
  }
  &__menu-item {
    list-style-type: none;
  }
  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
