.delete-user-popup {
  width: 550px;

  &__title {
    margin-bottom: 30px;
    display: block;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: auto;
    margin: 40px 0;
  }

  .form-control {
    $self: &;

    label {
      padding: 15px;
      border: 1px solid var(--gray-hover-color);
      border-radius: 5px;
      cursor: pointer;
      height: 50px;
      display: block;
      width: 100%;
      text-align: center;
    }

    input {
      display: none;

      &:checked + label {
        background: var(--error-color);
        color: #fff;
      }
    }
  }
}
