.profile-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
  gap: 10px;

  &__avatar-block {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;
    background: var(--gray-hover-color);

    img {
      width: 100%;
      height: 100%;
    }
  }
}
